<div class="container">
    <h2 id="form-header">Login</h2>
        <form (ngSubmit)="login()">
            <div class="form-group">
                <div class="input-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name = "email" [(ngModel)]="email" required>
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" [(ngModel)]="password" required>
                </div>
            </div>
  
          <button type="submit">Login</button>
        </form>
        <button (click)="signInWithGoogle()">Sign in with Google</button>
        <p id="desc">Don't have an account? <a routerLink="/register">Create Account</a></p>
</div>