.terms-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 5vh;
  }
  
.term-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #e0e0e0;
    border: 1px solid #F0ECE5;
    border-radius: 8px;
}
  
.term-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.term-title, .term-description {
    margin: 0;
}
  
.term-title {
    font-weight: 600;
    color: #232026; 
}
  
.term-description {
    color: #232026; 
    text-align: right;
}
  
.term-card:hover {
    background-color: #f9f9f9;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
  