<div class="terms-container">

    <div class="term-card">
      <div class="term-content">
        <div class="term-title">
            <p style="margin-top: 20px;">word</p>
            <p style="margin-top: 20px;">translated word</p>
        </div>
        <div class="term-description" style="text-align: left; margin-left: 45px;">
            <p>definition definition definition definition definition definition definition definition definition definition definition definition</p>
            <p>definition definition definition definition definition definition definition definition definition definition definition definition</p>
        </div>
      </div>
    </div>

    <div class="term-card">
      <div class="term-content">
        <div class="term-title">
            <p>word</p>
            <p>translated word</p>
        </div>
        <div class="term-description" style="text-align: left; margin-left: 45px;">
            <p>definition definition definition definition definition definition</p>
            <p>definition definition definition definition definition definition</p>
        </div>
      </div>
    </div>

</div>  