<div class="terms-container">
  <button class="menu-items" (click)="getFlashcardData()">Refresh</button>
  <!-- Loop over each flashcard in flashcardList -->
  <div class="term-card" *ngFor="let flashcard of flashcardList">
    <div class="term-content">
      
      <div class="term-title">
        <p style="margin-top: 20px;">{{ flashcard.original_word }}</p>
        <p style="margin-top: 20px;">{{ flashcard.translated_word }}</p>
      </div>

      <div class="term-description" style="text-align: left; margin-left: 45px;">
        <p>{{ flashcard.original_definition }}</p>
        <p>{{ flashcard.translated_definition }}</p>
      </div>

    </div>
  </div>
  
</div>
